html, body {
    margin: 0; 
    height: 100%; 
    overflow: hidden;
    font-family: "MS Sans Serif",Tahoma,Verdana,Segoe,sans-serif;}

.links {
    font-size: 10em;
    overflow: visible;
    position: absolute;
    top: 50%;
    left: 0%;
    white-space: nowrap;
    z-index: -1;
    animation: panText 60s infinite alternate;
}

@keyframes panText {
    0% {
        transform: translate(0, -50%)
    }
    100% {
        transform: translate(max(calc(-100% + 200px), -256px), -50%)
    }
}

.controls {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: silver;
    border: solid;
    border-width: 2px;
    border-bottom-color: #464343;
    border-right-color: #464343;
    border-left-color: #fff;
    border-top-color: #fff;
    width: 50%;
}

.controls .header {
    background: -webkit-linear-gradient(left,#0b2269,#a0caf3);
    color: #fff;
    height: 25%;
    margin-bottom: 20px;
    height: auto;
    position: relative;
}

.background {
    background-image: url('img/windows-95-clouds-kfioe6hnh3x8zn4z.webp');
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: -10;
    position: relative;
}

.controls .content {
    padding: 12px
}

button {
    font-size: 1em;
    font-weight: 400;
    height: 38px;
    padding-left: 8px;
    padding-right: 8px;
    border-width: 2px;
    border-style: outset;
    border-right-color: #464343;
    border-bottom-color: #464343;
    border-left-color: #fff;
    border-top-color: #fff;
    background: silver;
    color: black;
    cursor: pointer;
}

button:hover {
    border-right-color: #fff;
    border-bottom-color: #fff;
    border-left-color: #464343;
    border-top-color: #464343;
}

button.stacked {
    display: inline-block;
    vertical-align: middle;
    width: 30%;
    float: right;
    margin-left: 10px;
}

button.play {
    width: 100%;
}

button.settings {
    position: absolute;
    right: 12px;
    height: 75%;
    top: 50%;
    transform: translate(0, -50%);
}

input {
    margin-bottom: 20px;
    font-size: 1em;
    display: inline-block;
    width: calc(70% - 50px);
    margin-right: 20px;
    height: 30px;
    border: 2px inset #d5d5d5;
    color: #464343;
    background: #fff;
    vertical-align: middle;
    padding: 2px 2px 2px 10px; 
}

h1 {

    font-size: 1.5em;
    font-weight: 400;
    color: white;
    text-align: left;
    width: 100%;
    margin: 0px;
    padding: 4px 4px 4px 12px;
}

p {
    color: white;
}