html, body {
    margin: 0; 
    height: 100%; 
    overflow: hidden;
    touch-action: none;
    font-family: 'Lora', serif;
}

.start {
    font-family: 'Lora', serif;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 80px;
    width: 160px;
    font-size: 1.2em;
    border: none;
    border-radius: 4px;
    transition: opacity 0.5s linear;
}

.start .hide {
    opacity: 0;
}